
/* .mws-table {
	margin: 1em 0;
	min-width: 300px;
} */
.mws-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.mws-table th {
	display: none;
	border-left: 1px solid #cccccc;
}
.mws-table td {
	display: block;

}
/* .mws-table td:first-child {
	padding-top: .5em;
} */
.mws-table td:last-child {
	padding-bottom: .5em;
}
.mws-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}
@media (min-width: 480px) {
  .mws-table td:before {
    display: none;
  }
}
/* .mws-table th, .mws-table td {
	text-align: left;
} */
@media (min-width: 480px) {
  .mws-table th, .mws-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .mws-table th:first-child, .mws-table td:first-child {
    padding-left: 0;
  }
  .mws-table th:last-child, .mws-table td:last-child {
    padding-right: 0;
  }
}
/*
body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
*/
/* .mws-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
} */
/* .mws-table tr {
  border-color: #46627f;
} */
/* .mws-table th, .mws-table td {
  margin: .5em 1em;
} */
@media (min-width: 480px) {
  .mws-table th, .mws-table td {
    padding: 1em !important;
  }
}
.mws-table th, .mws-table td:before {
  	/* color: #dd5; */
}


