.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-widget-header {
    background: #316BC9 !important;
    border: 1px solid #0B3E6F;
    color: #F6F6F6;
    font-weight: bold;
}
.ui-state-highlight {
	background:#316BC9 !important;
}
.ui-widget-content {
   background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF !important;
   border: 1px solid #AAAAAA !important;
   color: #222222 !important;
}
.ui-state-default {
    background: url("images/ui-bg_flat_75_e6e6e6_40x100.png") repeat-x scroll 50% 50% #E6E6E6 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: url("images/ui-bg_flat_100_316bc9_40x100.png") repeat-x scroll 50% 50% #316BC9 !important;
    border: 1px solid #999999 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_flat_75_e6e6e6_40x100.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3 !important;
    color: #555555 !important;
	font-weight:normal !important;
}
#ui-datepicker-div{
	z-index:2 !important;
}
.ui-datepicker-calendar a:hover{
	color:#FFFFFF !important;
}

.mejs-overlay:hover .mejs-overlay-button{background-position:0 -73px !important;}